
.star-rating > ion-icon {
    display: inline-block;
    fill: #9e9e9e;
    cursor: pointer;
}

.star-rating .active {
    fill: var(--ion-color-primary);
}

.upload {
    background-color: #ccc;
    opacity: 50%;
    width: 100%;
}

#upload-images {
    display: none;
}

.upload label {
  display: block;
  width:100%;
  height: 100%;
  text-align:center;
  cursor: pointer;
  padding: 3rem 0;
}

label ion-icon {
    font-size: 10vw;
}