.food-card {
    width: fit-content;
    height: fit-content;
}

.food-img {
  width: 100%;
  max-width: 250px;
  height: auto;

}

.like-food {
  display: flex;
  justify-content: space-between;
}

ion-col > div {
  background-color: var(--ion-color-primary);
  width:fit-content; 
  padding: 0.3rem;
  border-radius: 20%;
}

div.rate {
  float: right;
}
