.food-card {
    width: auto;
    height: fit-content;
}

.food-img {
  width: auto;
  height: 280px;
}

.img-container{
  width: auto;
  text-align: center;
}

.like-food {
  display: flex;
  justify-content: space-between;
}

.likes {
  display: inline-block;
}

.likes > ion-icon {
  vertical-align: text-top;
}

ion-chip {
  --color:var(--ion-color-primary);
  --background: white;
}


