.big-screen-login-button {
  display: block;
}

.grid {
  height: 100%;
  display: flex;
  flex-flow: row;
}

.image-content {
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/public/login.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 1em;
  text-align: center;
}

.content {
  height: 80%;
  align-items: center;
}

.login-button {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #ffffff;
}

.description-text {
  font-size: x-large;
  color: white;
  z-index: 1;
  margin: 0 5%;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .small-screen-login-button {
    visibility: visible;
  }
  .description-text {
    font-size: large;
    width: 100%;
  }
}
